{% extends 'layout.html.twig' %}

{% block content %}
	<div class="col-xs-12 col-sm-10">
		<p>&nbsp;</p>
		<h3>Hvordan bruke helårig UKM?</h3>
		
		<p class="lead">
			Helårig UKM lar deg raskt opprette arrangementer og ta i mot påmelding til disse.
		</p>

		<h4 style="margin-bottom:5px;">
			Sende SMS
		</h4>
		<p>
			Hvis du vil kontakte de som skal delta, de som står på venteliste, eller til og med de som har sagt "nei takk", kan du sende sms til disse.
			<br />
			SMS sender du ved å bruke <a href="admin.php?page=UKMrapport_admin&rapport=rsvp&kat=helarig">rapporten for "helårig UKM"</a>.
		</p>

		<h4 style="margin-bottom:5px;">
			Vil du ha inspirasjon til prosjekter og events?
		</h4>
		<p>
			Sjekk ut siden <a href="?page=UKMrsvp_events">"Alle hendelser"</a>, der du kan få detaljer om alle events i UKM-nettverket.
		</p>
		 
	
		<h4 style="margin-bottom:5px;">
			Markedsføre helårig UKM
		</h4>
		<p>	
			På <a href="?page=UKMrsvp_myEvents">"Mine hendelser"</a> finner du lenken til ditt arrangement. Denne kan du dele som du vil, på facebook, via sms, plakater e.l.
		</p>
		<p>
			I <a href="?page=UKMmateriell">designgeneratoren</a> kan du bruke ferdigmalene våre til å lage arrangementsplakater, facebookbannere osv
		</p>
		
		
		<h4 style="margin-bottom:5px;">
			Venteliste
		</h4>
		<p>	
			Har arrangementet begrenset plass? Sett en maksgrense - systemet har automatisk venteliste. Når maksgrensen er nådd vil det være mulig å trykke "sett meg på venteliste". 
			Hvis en eller flere deltakere melder seg av (trykker på en annen knapp enn "jeg kommer") skjer følgende:
		</p>
		<ol class="list">
		 	<li>Første person på ventelisten endres automatisk til "jeg kommer"</li>
		 	<li>Systemet sender en sms til personen (som ble flyttet over til ”jeg kommer”) med beskjed om dette, samt info om avmelding</li>
		 	<li>Personen kan velge å stå som "jeg kommer", eller klikke på en lenke i sms'en for å melde seg av
		 	<li>Hvis personen velger å melde seg av vil neste person på ventelisten automatisk endres (prosessen gjentas)</li>
		</ol>
		
		<h4 style="margin-bottom:5px;">
			Statistikk
		</h4>
		<p>	
			Vi teller alle påmeldinger i helårig UKM som en egen del i statistikken. Hvor mange påmeldte du har totalt kan du se på forsiden i arrangørsystemet, i boksen "Påmeldte".
		</p>


	</div>
	<div class="clearfix"></div>
{% endblock %}