{% extends 'layout.html.twig' %}

{% block content %}
	<div class="col-xs-12 col-sm-10">
		<p>&nbsp;</p>
		<p class="lead">RSVP er vårt første verktøy for et helårlig UKM. Skal du arrangere noe utenom den faste mønstringen? Du er kommet på rett sted!</p>

		<p>Her kan du opprette nye hendelser og få enkel på/avmelding for deltakere, hente ut deltakerinformasjon, sende SMS til påmeldte eller de på venteliste.</p>

		<p>Vil du ha inspirasjon til prosjekter og events? Sjekk ut siden <a href="?page=UKMrsvp&action=events">"Andre hendelser"</a>, der du kan få detaljer om alle events i UKM-nettverket.</p>

		<h4>Hvordan kan jeg bruke RSVP?</h4>

		<h4>TODO:</h4>
		<ul>
			<li>SMS-integrering</li>
			<li>Deltaker-lister</li>
			<li>Statistikk-integrering</li>
		</ul>
	</div>
	<div class="clearfix"></div>
{% endblock %}