{% extends 'layout.html.twig' %}

{% block content %}
	<div class="col-xs-12 col-sm-10">
		<p>&nbsp;</p>
		<p class="lead">RSVP er vårt første verktøy for et helårlig UKM. Skal du arrangere noe utenom den faste mønstringen? Du er kommet på rett sted!</p>

		<p>Her kan du opprette nye hendelser og få enkel på/avmelding for deltakere, hente ut deltakerinformasjon, sende SMS til påmeldte eller de på venteliste.</p>

		<p>Vil du ha inspirasjon til prosjekter og events? Sjekk ut siden <a href="?page=UKMrsvp&action=events">"Andre hendelser"</a>, der du kan få detaljer om alle events i UKM-nettverket.</p>

		<p>Vil du sende ut mer informasjon eller en påminnelse til deltakerne dine, eller kontakte de etter et arrangement for å få de med på lokalmønstringen? Gå til fanen "Mine hendelser" og trykk på knappen "Send SMS til deltakerne" for arrangementet det gjelder. Du kan sende SMS både til enkeltpersoner og alle som kommer, står på venteliste eller ikke vil komme.</p>
		
		<div class="col-xs-6">
			<p class="lead">
				<a href="http://rsvp.ukm.no" target="_blank"><img src="http://ico.ukm.no/mapmarker-bubble-pink-256.png" width="64">Gå til RSVP</a>
			</p>
		</div>
	</div>
	<div class="clearfix"></div>
{% endblock %}